<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="COCOA.Properties.Settings.COCOAConnectionString" connectionString="Data Source=MARRUDT;Initial Catalog=COCOA;Persist Security Info=True;User ID=sa;Password=Md364800" providerName="System.Data.SqlClient"/>
      <add name="DAL.Properties.Settings.COCOAConnectionString" connectionString="Data Source=MARRUDT;Initial Catalog=COCOA;Persist Security Info=True;User ID=sa;Password=Md364800" providerName="System.Data.SqlClient"/>      
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
