<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="COCOA.Properties.Settings.COCOAConnectionString" connectionString="Data Source=.;Initial Catalog=COCOA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      
      
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0"/>
    </startup>
  </configuration>